@media (max-width: 1199.98px) {
  .btn_group {
    flex-wrap: wrap;
  }
  .btn_group button {
    width: 100% !important;
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 100% !important;
    padding: 0;
  }
  .row {
    margin: 10px 0 !important;
  }
  .student_list_section {
    margin-top: 30px;
  }
}

@media (max-width: 720px) {
  .image_preview_box .image_delete_button {
    display: none;
  }
  table.table {
    width: 800px !important;
  }
}
